python_dotenv==1.0.1
streamlit==1.43.2
matplotlib==3.10.1


spacy==3.8.4
openai==1.68.2
llama-cloud-services==0.6.7
llama-index-core==0.12.25
llama-index-readers-file==0.4.6
llama-index==0.12.25

llama-index-llms-deepseek==0.1.1
llama-index-finetuning==0.3.1
llama-index-embeddings-huggingface==0.5.2

unsloth==2025.3.19